.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

#stage {
  width: 600px;
  height: 600px;
  margin: auto auto 20px auto;
  border: 1px solid #000;
  color: rgba(0, 0, 0, 0);
}

.playing {
  pointer-events: none;
}

.cell {
  float: left;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 8px;
  font-family: monospace;
}

.alive {
  background-color: #000;
  border-color: #000;
}

.visible-text {
  color: rgba(0, 0, 0, 100) !important;
}

#controls {
  width: 600px;
  margin: 0px auto 40px auto;
}

#counter {
  float: right;
}
